<%= render 'shared/navbar' %>
<p id="notice"><%= notice %></p>
<div class="container mt-4 border">
  <div class="text-center">
    <img class="rounded mx-auto d-block" src="https://d30o7qbghf97ws.cloudfront.net/micolet-logo.svg" width="300px">
    <h3><strong><%=t(:welcome) %></strong></h3>
    <h4><strong><%=t(:newsletter) %></strong></h4>
    <%= render 'form', user: @user %>
    <br>
    <br>
    <br>
    <br>
  </div>
  <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="liveToast" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto"><%= t(:title_toast) %></strong>
        <small>1 second ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        <%= t(:toast) %>
      </div>
    </div>
  </div>
</div>
<script>
    const bsAlert = new bootstrap.Toast(document.getElementById('liveToast'));
    // Example starter JavaScript for disabling form submissions if there are invalid fields

    function submitUser(event) {
        const preferences = document.getElementsByName("preferences[]");
        let aux = false;
        for (const preference of preferences) {
            if (preference.checked) {
                aux = true;
                break;
            }
        }
        const form=document.getElementById('needs_validation');
        if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
        }else{
            document.getElementById('user_email').classList.add('is-valid')
        }

        form.classList.add('was-validated')
        if (!aux) {
            bsAlert.show()
            setTimeout(function () {
                document.getElementById('user_submit').disabled = false
            }, 1000)
        }
        return aux;

    }
</script>